@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif text-foreground;
  }
}

@layer components {
  .btn {
    @apply bg-primary text-primary-foreground px-4 py-2 rounded-md text-sm font-medium hover:bg-primary/90 transition;
  }

  .card {
    @apply p-4 rounded-md bg-white shadow-md h-full border border-border;
  }
}
